.success{
    color: green;
}
.error{
    color: red;
}
.pages{
    text-align: center;
}
.pages a{
    color:red;
    text-decoration: none;
    margin: 10px;

}
.disabled{
    display: none;
}
div.pages .active{
    text-decoration: underline;
}
div.pages .prev{
    color: #648cff;
}